<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blood Bank | Search for Blood Group</title>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" href="/styles/header.css" />
    <script src="/scripts/header.js" defer></script>
    <link rel="stylesheet" href="/styles/bloodBank.css">
    <script src="/script/bloodBank.js"></script>
</head>

<body>
    <div class="master rounded bg-white mt-5 mb-5">
        <%- include("./header") %>
        <!-- <img src="./images/blood-vector.jpg" alt="image" class="background"> -->

        
        <section class="container mt-5">
            <div class="box row " id="location-list">
                    <div class="col-md-6 col-sm-12 " >
                        <div >
                            <p class="hospital-name"><b> <%= hospital.name %> </b></p>
                            <p><%= hospital.hospitalType %></p>
                            <p class="address"><%= hospital.address %></p>
                            <p>Contacts: <%= hospital.phone %></p>
                            <% if(hospital.open){ %>
                                <p><b>Open 24hr</b></p>
                            <% } %>

                        </div>
                    </div>

                    <div class="col-md-6 col-sm-12 d-flex justify-content-center">
                        <img src=http://localhost:5000/<%= hospital.photo %> alt="hospital-img" class="hospital-img">
                    </div>
            </div>  
        </section>


        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
        
</body>

</html>